# Entorno virtual - Python Packages
venv/

# Variables de entorno - Configuracion
.env

# Primeras pruebas locales
keys.py
tests.py

#
__pycache__

# datasets guardados localmente
data/

# notebooks para pruebas locales
notebooks/

#
notes.md

# Streamlit (visualizacion de data, pruebas)
.streamlit
st-app.py