# Entorno virtual - Python Packages
venv/

# Variables de entorno - Configuracion
.env

#
__pycache__

# Pruebas locales
keys.py
tests.py
models_mockup.py

# Datasets guardados localmente
data/

# Analisis de datos 
data_analysis.py

# Notas personales
notes.md

# Streamlit (visualizacion de data, pruebas)
.streamlit
st-app.py